html,
body {
  height: 100%;
  width: 100%;
  background-color: #e9e8be;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #ffffff;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#color-block {
	/* background-color: none; */
  height: 150px;
  width: 150px;
}