* {
	padding: 0px;
	margin: 0px;
	/* Mantém o tamanho das boxes, sem somar com padding ou margin*/
	box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: #e9e8be;
  background-color: #ffffff50; */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  text-align: center;
}

#color {
  background-color: #2a2a2a;
  border-radius: 25px;
  padding: 30px;
}

#info {
  border-radius: 25px;
  padding: 30px;
}

#color-block {
	/* background-color: none; -- Line not needed*/
  height: 150px;
  width: 150px;
  border-radius: 25px;
}

.additional-colors {
  background-color: #eeeeee;
  width: 150px;
  height: 30px;
  border-radius: 15px;
}