@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;600&display=swap");

* {
  padding: 0px;
  margin: 0px;
  /* Mantém o tamanho das boxes, sem somar com padding ou margin*/
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

main {
  background-color: #2a2a2a;
  color: #ffffff;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

#color-block {
  /* background-color: none; -- Line not needed*/
  height: 150px;
  width: 150px;
  border-radius: 25px;
  transition: 0.5s;
}

h1 {
  font-weight: 300;
  font-size: 16px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

.color-code {
  background-color: #3d3d3d;
  width: 150px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

button {
  margin-top: 10px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  height: 40px;
  border-radius: 20px;
  transition: 0.5s;
}
